* {
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: floralwhite;
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    background-color: rgb(93, 113, 58);
    color: white;
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.contenedor {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
}
#productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.producto{
    height: 300px;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.423);
    color: rgb(0, 0, 0);
    font-weight: bold;
    position: relative;
}

.producto-img {
    width: 200px;
    height: 120px;
    object-fit: contain;
}

.producto * {
    position: relative;
    z-index: 2;
}

.producto h3{
    margin-bottom: 10px;
}

.producto p{
    font-size: 18px;
    color: green;
    margin-bottom: 10px;
}

.producto button {
    background-color: rgb(77, 158, 45);
    padding: 10px;
    border: darkolivegreen;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    border-radius: 6px;
}

.productoAgregar:hover {
    background: #0ac526d0;
    color:rgb(0, 0, 0);
    transform: scale(1.05);
}

#carrito-container div{
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.carrito button {
    border: none;
    padding: 5px 12px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    background: #f0f0f0;
    transition: background 0.2s ease;
}

.carrito {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}
#total {
    font-weight: bold;
    font-size: 20px;
    color: green;
}





